/* specification */
body {
    font-family: "PT Sans", sans-serif;
}
ul, li {
    display: block;
    padding: 0;
    margin: 0;
}
header {
    background: #ffe600;
    color: #000;
    padding-top: 58px;
}
.menu {
    margin-top: 10px;
}
.menu__item {
    margin: 0 57px;
}
.menu__item a {
    font-size: 22px;
    font-weight: 700;
    color: #000;
}
h1, h2, h3, h4, h5 {
    font-weight: 700;
    color: #000;
}
h3 {
    font-weight: 400;
}
h2 {
    text-align: center;
}
.offer {
    margin-top: 117px;
}
.offer__title {
    font-size: 32px;
    margin-bottom: 15px;

}
.offer__intro {
    font-size: 20px;
    line-height: 1.3em;
}
.offer__text {
    font-size: 16px;
    margin-top: 20px;
    width: 400px;
}
p, div, a, span {
    line-height: 1.3em;
}
.icons__item a {
    color: #000;
    font-size: 42px;
    transition: all 0.3s ease;
}

.icons__item {
    margin-right: 30px;
}
.icons__item a:hover {
    text-decoration: none;
    color: #ff9100;
}
